[Unit]
Description=a tuner to start clash with specific config

[Service]
Type=exec
EnvironmentFile=/etc/clash-tuner/env
User=%i
Restart=on-abort
ExecStart=bash -c "/usr/bin/clash -d $$conf"
